In [1]:
## Joscelin is following these steps: https://github.com/Sandeep-Panchal/Topic-Modeling-with-LDA/blob/master/Topic-Modeling-IPYNB/Topic%20Modeling%20with%20LDA.ipynb

import numpy as np
import pandas as pd
import random

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data/twitter_data_clean_final.csv')
df = df.loc[:,["user_id","user_bio","tokens","state","region"]]
df.dropna(inplace=True)
df
# deep copy to avoid override of the original dataframe
import copy

df_new = copy.deepcopy(df)
df_new

,user_id,user_bio,tokens,state,region
0,1.180000e+18,"I'm a nerdy guy who loves art, music, wrestlin...",nerdy guy love art music wrestle comics poly,OH,Midwest
1,1.440000e+18,No worries Lil Ms Sunshine cause I don't mess ...,worry lil sunshine cause mess woman moon civil...,PA,Northeast
2,1.219720e+08,I am a huge sports and music fan. I graduated ...,huge sport music fan graduate regis university...,CO,West
3,1.390000e+18,"This is not, nor endorsed by, any Government E...",endorse government entity project guarantee wa...,WA,West
4,2.349053e+07,I'm a writer and a cult film fanatic who loves...,writer cult film fanatic love politics,UT,West
...,...,...,...,...,...
1723,2.961228e+08,Christian. Husband. Father. Ph.D. Candidate @B...,christian husband father candidate mosquito re...,OH,Midwest
1724,8.800000e+17,"MarTech, MBA, Foodie, Bilingual, Soccer, Boxin...",martech mba foodie bilingual soccer box gamer ...,CA,West
1725,1.153059e+09,"streams occasionally, will choose race cars ov...",stream occasionally choose race cars important...,KY,South
1726,2.432869e+08,Enjoy the practical wisdom of daily life. Prom...,enjoy practical wisdom daily life promote trut...,AZ,Southwest
1727,2.159799e+09,glass half full,glass half,MO,Midwest

In [3]:
# importing TFIDF vectorizer
from sklearn.feature_extraction.text import CountVectorizer

# creating an instance
cv = CountVectorizer(max_df = 0.90, min_df = 3, stop_words = 'english')

# fit and transform the text data
cv_fit = cv.fit_transform(df_new.tokens)

print('\nShape of the sparse matrix\n')
cv_fit

Shape of the sparse matrix

<1644x955 sparse matrix of type '<class 'numpy.int64'>'
	with 7163 stored elements in Compressed Sparse Row format>

In [8]:
# importing Latent Dirichlet Allocation library
from sklearn.decomposition import LatentDirichletAllocation

# creating an instance for LDA
lda = LatentDirichletAllocation(n_components = 10, random_state = 3)

In [9]:
%%time

print('Fitting the vectorizer with the LDA')

lda.fit(cv_fit)

Fitting the vectorizer with the LDA
CPU times: user 5.79 s, sys: 152 ms, total: 5.94 s
Wall time: 8.28 s

LatentDirichletAllocation(random_state=3)

In [10]:
print('Number of topic:', len(lda.components_))
print('Number of column of the lda fit:',len(lda.components_[0]))

Number of topic: 10
Number of column of the lda fit: 955

In [11]:
feature = cv.get_feature_names()

print('Length of feature names:', len(feature))

Length of feature names: 955

In [12]:
for ind, topic in enumerate(lda.components_):
    print('top 50 words in topic {}'.format(ind))
    print('-'*25)
    top_50 = topic.argsort()[-50:]
    print([feature[i] for i in top_50], '\n\n')

top 50 words in topic 0
-------------------------
['champion', 'twitch', 'seattle', 'currently', 'san', 'sun', 'ask', 'illustrator', 'plant', 'alum', 'author', 'arts', 'jesus', 'texas', 'creative', 'dad', 'football', 'mom', 'everyday', 'alumnus', 'know', 'fan', 'live', 'baseball', 'blue', 'designer', 'enthusiast', 'veteran', 'student', 'california', 'husband', 'american', 'retire', 'politics', 'dog', 'cat', 'war', 'like', 'star', 'father', 'nerd', 'marry', 'proud', 'good', 'university', 'sport', 'time', 'state', 'follow', 'love']


top 50 words in topic 1
-------------------------
['progressive', 'earth', 'fight', 'certify', 'friend', 'peace', 'dream', 'host', 'music', 'alum', 'care', 'artist', 'coach', 'check', 'chair', 'creator', 'partner', 'hit', 'light', 'family', 'man', 'mom', 'advocate', 'personal', 'addict', 'stream', 'try', 'writer', 'enthusiast', 'fan', 'fear', 'father', 'youtube', 'let', 'raise', 'son', 'guy', 'love', 'time', 'fun', 'head', 'snapchat', 'bear', 'new', 'big', 'city', 'actor', 'tweet', 'things', 'god']


top 50 words in topic 2
-------------------------
['school', 'actor', 'twitch', 'business', 'wrestle', 'traveler', 'artist', 'journalist', 'estate', 'nsfw', 'aspire', 'strong', 'party', 'sth', 'learn', 'podcaster', 'manager', 'baseball', 'crypto', 'lot', 'musician', 'nyc', 'video', 'big', 'team', 'nurse', 'entrepreneur', 'like', 'songwriter', 'self', 'affiliate', 'listen', 'collector', 'los', 'angeles', 'member', 'real', 'singer', 'creator', 'mother', 'content', 'people', 'music', 'writer', 'podcast', 'love', 'host', 'producer', 'com', 'fan']


top 50 words in topic 3
-------------------------
['stand', 'winner', 'vaxxed', 'mask', 'past', 'therapy', 'time', 'art', 'make', 'instagram', 'need', 'ceo', 'democrat', 'queen', 'ambassador', 'geek', 'member', 'welcome', 'day', 'radio', 'brand', 'native', 'emmy', 'good', 'food', 'producer', 'writer', 'tweet', 'enjoy', 'usa', 'read', 'movies', 'alum', 'health', 'free', 'travel', 'music', 'gamer', 'lover', 'try', 'founder', 'award', 'dog', 'book', 'photographer', 'sport', 'love', 'win', 'mom', 'life']


top 50 words in topic 4
-------------------------
['fuck', 'public', 'acct', 'dude', 'hate', 'king', 'creative', 'stuff', 'chargers', 'think', 'small', 'water', 'respond', 'proud', 'joke', 'women', 'best', 'free', 'football', 'tweet', 'texas', 'make', 'family', 'smile', 'connecticut', 'half', 'director', 'single', 'bad', 'study', 'boy', 'wanna', 'new', 'media', 'ass', 'friends', 'write', 'insta', 'big', 'opinions', 'model', 'trump', 'love', 'live', 'tell', 'girl', 'look', 'snap', 'business', 'account']


top 50 words in topic 5
-------------------------
['love', 'owner', 'irl', 'father', 'bio', 'videos', 'die', 'license', 'influencer', 'know', 'daddy', 'light', 'hard', 'beautiful', 'let', 'time', 'build', 'web', 'worker', 'acab', 'market', 'cashapp', 'help', 'artist', 'link', 'husband', 'nfts', 'click', 'welcome', 'onlyfans', 'crypto', 'design', 'leave', 'dad', 'american', 'work', 'blm', 'news', 'office', 'unmonitored', 'syndication', 'develop', 'ceo', 'national', 'contact', 'social', 'service', 'play', 'weather', 'photographer']


top 50 words in topic 6
-------------------------
['real', 'coach', 'county', 'agency', 'crazy', 'people', 'way', 'director', 'bartender', 'account', 'book', 'true', 'com', 'help', 'entertainment', 'love', 'day', 'night', 'tweet', 'manager', 'ceo', 'connect', 'relations', 'email', 'official', 'producer', 'time', 'designer', 'owner', 'black', 'professional', 'raise', 'business', 'great', 'years', 'bring', 'come', 'live', 'base', 'play', 'engineer', 'twitter', 'life', 'like', 'writer', 'founder', 'best', 'world', 'music', 'man']


top 50 words in topic 7
-------------------------
['aficionado', 'marry', 'tech', 'developer', 'red', 'bio', 'super', 'type', 'report', 'southern', 'transit', 'record', 'major', 'retire', 'travel', 'collector', 'culture', 'punk', 'health', 'feature', 'player', 'valley', 'class', 'provide', 'pop', 'watch', 'person', 'update', 'high', 'horror', 'like', 'com', 'art', 'fanatic', 'book', 'writer', 'state', 'favorite', 'york', 'owner', 'huge', 'traffic', 'pro', 'wrestle', 'lover', 'new', 'love', 'artist', 'fan', 'music']


top 50 words in topic 8
-------------------------
['girl', 'com', 'people', 'talk', 'run', 'boston', 'warriors', 'vegas', 'lol', 'alumna', 'young', 'photo', 'teach', 'help', 'feel', 'founder', 'project', 'president', 'business', 'owner', 'dad', 'twitter', 'francisco', 'creator', 'funny', 'photography', 'school', 'post', 'year', 'create', 'fee', 'kid', 'teacher', 'author', 'work', 'want', 'liberal', 'host', 'san', 'artist', 'job', 'new', 'shit', 'page', 'years', 'love', 'account', 'know', 'coach', 'old']


top 50 words in topic 9
-------------------------
['real', 'fan', 'paint', 'com', 'history', 'owner', 'designer', 'love', 'advocate', 'snapchat', 'guy', 'chief', 'cook', 'jeff', 'way', 'humanity', 'affiliate', 'director', 'breed', 'nerd', 'photographer', 'video', 'family', 'open', 'better', 'stream', 'inspire', 'save', 'creator', 'model', 'home', 'future', 'bless', 'long', 'pizza', 'retire', 'twitch', 'content', 'bitch', 'grad', 'mind', 'opinions', 'art', 'life', 'matter', 'like', 'black', 'game', 'instagram', 'live']

In [13]:
# transform 
df_final = lda.transform(cv_fit)

print('Shape of the df_final:', df_final.shape)

Shape of the df_final: (1644, 10)

In [14]:
print('\nChecking the probabilitiy distribution of one text data belonging to the topic.\n')
print('Few words from 1st row:', df_new.tokens[0][:88],'\n')
print('Probability distribution:', df_final[0])

Checking the probabilitiy distribution of one text data belonging to the topic.

Few words from 1st row: nerdy guy love art music wrestle comics poly

Probability distribution: [0.01428745 0.01429018 0.01428778 0.01428791 0.01428754 0.01428628
 0.01428788 0.57826256 0.01428657 0.30743585]

In [15]:
prob = df_final[0][df_final[0].argmax()].round(2)

print('Bio belonging to the topic', df_final[0].argmax(), 'with the probability of', prob)

Bio belonging to the topic 7 with the probability of 0.58

In [17]:
df_new['cluster'] = df_final.argmax(axis = 1)

df_new.head()

,user_id,user_bio,tokens,state,region,cluster
0,1.180000e+18,"I'm a nerdy guy who loves art, music, wrestlin...",nerdy guy love art music wrestle comics poly,OH,Midwest,7
1,1.440000e+18,No worries Lil Ms Sunshine cause I don't mess ...,worry lil sunshine cause mess woman moon civil...,PA,Northeast,6
2,1.219720e+08,I am a huge sports and music fan. I graduated ...,huge sport music fan graduate regis university...,CO,West,7
3,1.390000e+18,"This is not, nor endorsed by, any Government E...",endorse government entity project guarantee wa...,WA,West,1
4,2.349053e+07,I'm a writer and a cult film fanatic who loves...,writer cult film fanatic love politics,UT,West,7

In [19]:
# creating a dictionary with key as topic numbers and value as topic names
#Joscelin used random genres here to see if everything is working

topic_label = {0:'Pop', 1:'Latin', 2:'R&B', 3:'Rock', 4:'HipHop', 5:'HipHop',6:'Christian/Gospel', 7:'EDM',8:'Children',9:'Classical', 10:'World'}

# mapping the dictionary with the dataframe to get the labels.
df_new['genre'] = df_new['cluster'].map(topic_label)

# head of the dataframe
df_new.head()

,user_id,user_bio,tokens,state,region,cluster,genre
0,1.180000e+18,"I'm a nerdy guy who loves art, music, wrestlin...",nerdy guy love art music wrestle comics poly,OH,Midwest,7,EDM
1,1.440000e+18,No worries Lil Ms Sunshine cause I don't mess ...,worry lil sunshine cause mess woman moon civil...,PA,Northeast,6,Christian/Gospel
2,1.219720e+08,I am a huge sports and music fan. I graduated ...,huge sport music fan graduate regis university...,CO,West,7,EDM
3,1.390000e+18,"This is not, nor endorsed by, any Government E...",endorse government entity project guarantee wa...,WA,West,1,Latin
4,2.349053e+07,I'm a writer and a cult film fanatic who loves...,writer cult film fanatic love politics,UT,West,7,EDM